# phpstorm
/.idea

# vendors' software
/vendor/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# config backups
/etc/*.bak

# local configs
/etc/*.yml
